<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
  <div class="mobile-menu-bar">
    <a href="" class="flex mr-auto">
        <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="assets/images/logo.svg">
    </a>
    <a id="mobile-menu-toggler" (click)="toggleShowDiv('show-mobil-menu')">
      <i-feather name="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i-feather>
    </a>
  </div>
  <ul class="border-t border-theme-24 py-5" [@slideInOut]="animationState">
      <li>
          <a href="#" class="menu menu--active">
            <div class="menu__icon">
              <i-feather name="credit-card"></i-feather>
             </div>
             <div class="menu__title"> Transacciones </div>
          </a>
      </li>
  </ul>
</div>
<!-- END: Mobile Menu -->
