<div class="md:p-5 md:col-span-4 xl:col-span-4 mt-5">
  <div class="intro-y flex items-center h-10">
      <h2 class="text-lg font-medium truncate mr-5">
        Operaciones
      </h2>
  </div>
  <div class="mt-5">
    <ng-container *ngIf="transactions$ | async as transactions; else loading">

      <div #transState class="intro-x" *ngFor="let transaction of transactions" [ngClass]="{dark: transaction.validated}">
        <div class="box px-5 py-3 mb-3 flex items-center zoom-in"
             (click)="getTransInfo(transaction, transactions)"
            >

          <div class="w-10 h-10 flex-none image-fit rounded-full">
            <img alt="Midone Tailwind HTML Admin Template" src="assets/images/profile-4.jpg">
          </div>
          <div class="ml-4 mr-auto">
            <div class="font-medium text-gray-600">{{ transaction.name }}</div>
            <div class="text-gray-600 text-xs">{{ transaction.date }}</div>
          </div>
          <div class="py-1 px-2 rounded-full text-xs bg-theme-9 text-white cursor-pointer font-medium">
            +${{ transaction.amount }}
          </div>

        </div>
      </div>

    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div align=center>
    <img src="assets/images/grid.svg" width="40"  alt="">
  </div>
</ng-template>








