<div class="main">
    <div class="error-content">
        <img src="assets/images/404.gif" width="45%" alt="error">

        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
          Página No Encontrada
        </h2>
        <p class="body">
            Es posible que la página que está buscando se haya eliminado, si se cambió el nombre o no está
            disponible temporalmente.
        </p>

        <button class="button w-24 mr-1 mb-2 bg-theme-1 text-white"
          routerLink="/pages/loading">
          Primary
        </button>
    </div>
</div>
